
@{
    ViewBag.Title = "Index";
}

<h2>Help</h2>

<h4>Navigation</h4>
<img src="~/HelpFiles/Home.png" style="height:540px;width:960px" />
<p>
    To navigate around this web application. Press the headings at the top to go to their respective pages. From inside these heading pages you will be able to create,
    edit, delete and view all entries of data.
</p>

<hr />
<h4>CDs Page</h4>
<img src="~/HelpFiles/CDCreate.png" style="height:540px;width:960px" />
<p>
    On the CD page, to create a CD. Press the "Create New" button. This will take you to the following page.
</p>
<img src="~/HelpFiles/CDCreateFilled.png" style="height:540px;width:960px" />
<p>
    On this page, enter the details of the CD you wish to add and drag a cd image over the dropbox at the bottom of the screen, then press the create button. This will create a new CD. To edit/delete/view this cd, press the respective button
    on the page that appears once you create the new CD, or alternatively, press the "CD" header button again.
</p>
<img src="~/HelpFiles/CDEdit.png" style="height:540px;width:960px" />

<hr />
<h4>Staffs Page</h4>
<img src="~/HelpFiles/StaffCreate.png" style="height:540px;width:960px" />
<p>
    On the Staff page, to add a new Staff member. Press the "Create New" button. This will take you to the following page.
</p>
<img src="~/HelpFiles/StaffCreateFilled.png" style="height:540px;width:960px" />
<p>
    On this page, enter the details of the Staff member you wish to add, then press the create button. This will add a new staff member. To edit/delete/view this staff member, press the respective button
    on the page that appears once you create the new member, or alternatively, press the "Staffs" header button again.
</p>
<img src="~/HelpFiles/StaffEdit.png" style="height:540px;width:960px" />

<hr />
<h4>Rentals Page</h4>
<img src="~/HelpFiles/RentalCreate.png" style="height:540px;width:960px" />
<p>
    On the Rental page, to create a new rental. Press the "Create New" button. This will take you to the following page.
</p>
<img src="~/HelpFiles/RentalCreateFilled.png" style="height:540px;width:960px" />
<p>
    On this page, select the staff member that this rental is for and enter a rental date in the "DateRented" text field, then press create. This will create the rental and take you to the following page.
</p>
<img src="~/HelpFiles/RentalItem.png" style="height:540px;width:960px" />
<p>
    On this page, you can add CDs to the rental, add a date returned or save the rental.To save, press the save button outlined in green, to edit/add the date returned, enter that in the
    blue outlined text box, or to add a CD, press the "Add CDs" button outlined in red. The following page will show.
</p>
<img src="~/HelpFiles/RentalItemFilled.png" style="height:540px;width:960px" />
<p>On this page, you can select a CD to add to the rental from the dropdown box. After this, press the "create" button to add the cd to the current rental. You'll be taken back to the previous page with updated details.</p>
<img src="~/HelpFiles/RentalItemEdit.png" style="height:540px;width:960px" />
<p>Once here again, you can add more CDs, edit the current CDs on the rental, or save the rental in it's current state.</p>

<hr />
<h4>Reports Page</h4>
<img src="~/HelpFiles/Reports.png" style="height:540px;width:960px" />
<p>
    On the Reports page, you can create reports based off the current rentals. If you wish to create a report of ALL rentals, simply hit the green "Generate Report" button, or if you wish to filter reports, enter
    your filter term in the search box at the top and press "search". This will filter the results, to which you can generate a report from.
</p>